body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

#main {}
#workflows .workflow {text-align:center;}
#graph {height: 400px; display:none;}
#display_svg {display:block; margin:0 auto; width:90%; height:100%;}
#layout_svg {position:absolute; overflow:hidden; top:0; left:0px; visibility:hidden;}
#info {padding:30px 60px; height:300px; }
#info_inner {position:relative; height:100%; overflow:auto;}
#info_inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}
#info_inner::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#info h1 {font-size:30px;}
#info h2 {font-size:22px;}
#teams .team {text-align:center; margin-top:15px; margin-bottom: 15px;}

#breadcrumbs {position:absolute; font-size:12px;}



.edge path {stroke-opacity:0;}
.node {opacity:0;}

.node.primary circle {
  fill: #fff;
}

.node.secondary circle {
  fill: #aaa;
}

.node.secondary circle.circle_path {
  stroke-opacity:0;
  fill: none;
}

.node.secondary circle.circle_path:hover {
  cursor: pointer;
  opacity: 0.4;
}

.node.primary text {
  font: 300 26px "Helvetica Neue";
}

.node.secondary text {
  font: 300 18px "Helvetica Neue";
}

/*.node:hover circle, .node:hover text {
  cursor: pointer;
  opacity: 0.4;
}*/

.edge path {
  fill: none;
}

.edge path:hover {
  cursor: pointer;
  opacity: 0.4;
}