body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

#workflows .workflow {text-align:center;}
#info {padding:30px 60px;}
#info h1 {font-size:30px;}
#info h2 {font-size:22px;}
#teams .team {text-align:center; margin-top:15px; margin-bottom: 15px;}

#breadcrumbs {position:absolute; font-size:12px;}

#graph {height: 400px;}
#display_svg {display:block; margin:0 auto; width:90%; height:100%;}
#layout_svg {position:absolute; overflow:hidden; top:0; left:20000px;}

.edge path {stroke-opacity:0;}
.node {opacity:0;}

.node.primary circle {
  fill: #fff;
}

.node.secondary circle {
  fill: #aaa;
}

.node.secondary circle.circle_path {
  stroke-opacity:0;
  fill: none;
}

.node.secondary circle.circle_path:hover {
  cursor: pointer;
  opacity: 0.4;
}

.node.primary text {
  font: 300 26px "Helvetica Neue";
}

.node.secondary text {
  font: 300 18px "Helvetica Neue";
}

/*.node:hover circle, .node:hover text {
  cursor: pointer;
  opacity: 0.4;
}*/

.edge path {
  fill: none;
}

.edge path:hover {
  cursor: pointer;
  opacity: 0.4;
}